@import 'tailwindcss';

@custom-variant h-xs (@media (max-height: 480px));
@custom-variant h-sm (@media (max-height: 640px) and (min-height: 480px));
@custom-variant h-md (@media (max-height: 860px) and (min-height: 640px));
@custom-variant h-lg (@media (max-height: 1024px) and (min-height: 860px));
@custom-variant h-xl (@media (min-height: 1024px));
@custom-variant h-mobile (@media (max-height: 600px));
@custom-variant h-desktop (@media (min-height: 600px));
@custom-variant h-minimal (@media (max-height: 360px));
@custom-variant w-mobile (@media (max-width: 420px));

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Martin Mono;
    src: url("public/fonts/MartianMono-Regular.ttf");
}

@theme {
    --color-primary-50: #EBF5FF;
    --color-primary-500: #3B82F6;
    --color-primary-900: #1E40AF;

    --color-secondary-50: #FEF9C3;
    --color-secondary-500: #FACC15;
    --color-secondary-900: #713F12;

    --font-martin: Martin Mono, "sans-serif";

    --color-alt-light: #ffffff;
    --color-bg-nd-light: #fffff7;
    --color-alt-dark: #2C2D30;
    --color-bg-nd-dark: #3A3B3E;
    --color-hover-light: #f0f0f0;
    --color-hover-dark: #44484d;
    --color-active-light: #e0e0e0;
    --color-active-dark: #3b3f45;
}

:root {
    --color-bg: #ffffff;
    --color-text: black;
}

.dark {
    --color-bg: #2C2D30;
    --color-text: #ffffff;
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: transparent;
        font-family: var(--font-martin), sans-serif;
        scrollbar-width: thin;
        scrollbar-color: var(--color-text) transparent;
    }

    :root, html, body, #root {
        background-color: var(--color-bg);
        color: var(--color-text);
        overflow: hidden;
        height: 100%;
        transition: background 0.3s ease;
    }

    img, video {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    input, button, textarea, select {
        font: inherit;
        color: inherit;
        background: none;
        border: none;
        outline: none;
    }
}

@utility flex-center {
    @apply flex justify-center items-center;
}